@font-face {
    font-family: 'Latin Modern Roman';
    src: url('../font/lmroman-bolditalic-webfont.eot');
    src: url('../font/lmroman-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/lmroman-bolditalic-webfont.woff') format('woff'),
         url('../font/lmroman-bolditalic-webfont.ttf') format('truetype'),
         url('../font/lmroman-bolditalic-webfont.svg#latin_modern_roman10BdIt') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Latin Modern Roman';
    src: url('../font/lmroman-bold-webfont.eot');
    src: url('../font/lmroman-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/lmroman-bold-webfont.woff') format('woff'),
         url('../font/lmroman-bold-webfont.ttf') format('truetype'),
         url('../font/lmroman-bold-webfont.svg#latin_modern_roman10_bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Latin Modern Roman';
    src: url('../font/lmroman-italic-webfont.eot');
    src: url('../font/lmroman-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/lmroman-italic-webfont.woff') format('woff'),
         url('../font/lmroman-italic-webfont.ttf') format('truetype'),
         url('../font/lmroman-italic-webfont.svg#latin_modern_roman10_italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Latin Modern Roman';
    src: url('../font/lmroman-regular-webfont.eot');
    src: url('../font/lmroman-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/lmroman-regular-webfont.woff') format('woff'),
         url('../font/lmroman-regular-webfont.ttf') format('truetype'),
         url('../font/lmroman-regular-webfont.svg#latin_modern_roman10_regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
