@font-face {
    font-family: 'Latin Modern Sans';
    src: url('../font/lmsans-boldoblique-webfont.eot');
    src: url('../font/lmsans-boldoblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/lmsans-boldoblique-webfont.woff') format('woff'),
         url('../font/lmsans-boldoblique-webfont.ttf') format('truetype'),
         url('../font/lmsans-boldoblique-webfont.svg#latin_modern_sans10BdOb') format('svg');
    font-weight: bold;
    font-style: oblique;
}

@font-face {
    font-family: 'Latin Modern Sans';
    src: url('../font/lmsans-bold-webfont.eot');
    src: url('../font/lmsans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/lmsans-bold-webfont.woff') format('woff'),
         url('../font/lmsans-bold-webfont.ttf') format('truetype'),
         url('../font/lmsans-bold-webfont.svg#latin_modern_sans10_bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Latin Modern Sans';
    src: url('../font/lmsans-oblique-webfont.eot');
    src: url('../font/lmsans-oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/lmsans-oblique-webfont.woff') format('woff'),
         url('../font/lmsans-oblique-webfont.ttf') format('truetype'),
         url('../font/lmsans-oblique-webfont.svg#latin_modern_sans10_oblique') format('svg');
    font-weight: normal;
    font-style: oblique;
}

@font-face {
    font-family: 'Latin Modern Sans';
    src: url('../font/lmsans-regular-webfont.eot');
    src: url('../font/lmsans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/lmsans-regular-webfont.woff') format('woff'),
         url('../font/lmsans-regular-webfont.ttf') format('truetype'),
         url('../font/lmsans-regular-webfont.svg#latin_modern_sans10_regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
